<footer class="footer">
  
    <div class="container">
      <div class="left">
        <p>© 2023 William Wegerson</p>
        <a class="imagelink" href="www.linkedin.com/in/WilliamWegerson"><img src="../assets/images/linkedin.png"
            alt="linkedin" width="32" height="32"></a>
      </div>
  
      <div class="center">
        <p>Github Source Project</p>
        <a class="imagelink" href="https://github.com/CheetahChrome/resume-app"><img
            src="../assets/images/github-mark.svg" alt="linkedin" width="32" height="32"></a>
      </div>
  
      <div class="right">
        <p>ΩmegaMan at Stack Overflow</p>
        <a href="https://stackoverflow.com/users/285795/%ce%a9megaman"><img
            src="https://stackoverflow.com/users/flair/285795.png" width="208" height="58"
            alt="profile for ΩmegaMan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for ΩmegaMan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
      </div>
    </div>
  
  
  </footer>
