

  /* Flexbox in footer */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .left {
    text-align: left;
    margin-left: 10px;
  }

  .right {
    text-align: right;
    margin-right: 10px;
  }

  .center {
    text-align: center;
  }