<footer class="footer">
  
    <div class="container">
      <div class="left">
        <p>© 2023 William Wegerson</p>
        <a class="imagelink" href="www.linkedin.com/in/WilliamWegerson"><img src="../assets/images/linkedin.png"
            alt="linkedin" width="32" height="32"></a>
      </div>
  
      <div class="center">
        <p>Github Source Project</p>
        <a class="imagelink" href="https://github.com/CheetahChrome/resume-app"><img
            src="../assets/images/github-mark.svg" alt="linkedin" width="32" height="32"></a>
      </div>
  
      <div class="right">
        <!-- <p>ΩmegaMan at Stack Overflow</p> -->
        <a href="https://stackoverflow.com/users/285795/%ce%a9megaman"><img
            src="https://stackoverflow.com/users/flair/285795.png" width="208" height="58"
            alt="profile for ΩmegaMan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for ΩmegaMan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
      </div>
    </div>
    <div class="container">
      <div class="left">
        <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin by Ruslan Babkin - Flaticon</a>
        </div>

        <div class="center">
          <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icon by Pixel perfect - Flaticon</a>
        </div>

        <a href="https://fontawesomeicons.com/">FontAwsonmeIcons </a>
        <div class="right">
          
          <a target="_blank" href="https://icons8.com/icon/mhwmyz1eu7T5/c-sharp-logo">C Sharp Logo</a> icon by <a
          target="_blank" href="https://icons8.com">Icons8</a>
    
      </div>
    </div>

  </footer>
