


<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="app-title">{{title}}</h1> 
  <app-job-carousel></app-job-carousel>
  <mat-divider></mat-divider>

  <mat-slide-toggle [(ngModel)]="checked">
    <div class="center-content">
      <img class="ang-icon" [src]="iconUrl" alt="icon"/>Only
    </div>
  </mat-slide-toggle>

  <app-tech-focus *ngIf="checked" [techResponsibilities] = techResponsibilities [jobs$]="jobs$"></app-tech-focus>
  <!-- <mat-card class="link-card" *ngIf="checked">
    <mat-card-header>
      <mat-card-title>Angular</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="jobs$ | async as jobs; else loading" class="my-4">

          <li *ngFor="let job of jobs | filterTech:techResponsibilities">
            <div [innerHTML]="job| boldWords:boldWordsList"></div>
          </li>
        </ul>
    </mat-card-content>
  </mat-card> -->

  <ng-template #loading>
    <p class="my-4">Loading&hellip;</p>
  </ng-template>

  <app-footer></app-footer>


  </body>

  <!-- <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Ruslan Babkin - Flaticon</a> -->