
<h1>{{title}}</h1>
<body>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  
  <!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->

  <!-- <ul *ngIf="jobs$ | async as jobs; else loading" class="my-4">
    <li *ngFor="let job of jobs">
      {{job.company}}
    </li>
  </ul> -->

  <mat-tab-group *ngIf="jobs$ | async as jobs; else loading">
    <mat-tab *ngFor="let job of jobs" [label]="job.company">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{job.title}}</mat-card-title>
          <mat-card-subtitle>{{job.duration}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul *ngIf="job?.responsibilities?.length">
            <li *ngFor="let task of job.responsibilities">
              <div [innerHTML]="task.responsibilty| boldWords:boldWordsList"></div>
          <!-- {{task}} -->
            </li>
          </ul>       
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>

  <ng-template #loading>
    <p class="my-4">Loading&hellip;</p>
  </ng-template>
</body>